.searchBar {
  padding: 0.75rem 0rem 0.5rem 0rem;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.searchBar input {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
}
