.gameCard {
  position: relative;
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}

.gameCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.heartIcon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.heartIcon.favorited {
  color: red;
}
