.bannerCarrousel {
  display: flex;
  position: relative;
  height: 10rem;
  width: calc(100% - 2rem);
  overflow: hidden;
  border-radius: 0.5rem;
  background: #f5f5f5;
  margin: 60px 1rem 0.5rem 1rem;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  left: 0;
  top: 0;
}

.banner img.visible {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.banner img.invisible {
  opacity: 0;
  z-index: 0;
}
