.searchResult {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.searchResult img {
  height: 3rem;
  width: 3rem;
}

.searchResult span {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
}
