.tagFilter {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tagFilterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.tagFilterItem img {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
}

.tagFilterItem span {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #777;
}
