.providerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #eeeef5;
  border: 2px solid transparent;
}

.providerImage {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
}

.providerCount {
  font-size: 0.75rem;
  color: #666;
}

.providerItem.selected {
  border: 2px solid var(--accent-color);
}
