.searchResults {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  top: 50px;
  background-color: #ffffffdd;
  width: 100%;
  z-index: 10;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
