.floatingBottomBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 0rem 0.5rem;
}

.floatingBottomBarItem img {
  height: 1.2rem;
  width: 1.2rem;
  opacity: 0.5;
}

.floatingBottomBarItem span {
  font-family: 'Poppins', sans-serif;
  font-size: 0.65rem;
  color: #888;
  text-transform: uppercase;
}
