.searchButton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px 12px 8px 0px;
  cursor: pointer;
}

.searchButton img {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
}

.searchButton.active img {
  opacity: 1;
  filter: var(--accent-color-filter);
}

.searchButton span {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #777;
  font-family: 'Poppins', sans-serif;
}

.searchButton.active span {
  color: var(--accent-color);
}
