.floatingTopBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.floatingTopBarLogo {
  display: flex;
  gap: 0.5rem;
}

.floatingTopBarLogo svg {
  height: 1.3rem;
  filter: var(--accent-color-filter);
}

.floatingTopBarLogo img {
  height: 1.3rem;
}

.floatingTopBarActions {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}
