.tagFilterItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.tagFilterItem img {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
}

.tagFilterItem.selected img {
  opacity: 1;
  filter: invert(25%) sepia(94%) saturate(1888%) hue-rotate(181deg) brightness(96%) contrast(101%);
}

.tagFilterItem span {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #777;
}

.tagFilterItem.selected span {
  color: #0077b6;
}

.tagFilterItem.selected .count {
  position: absolute;
  top: 4px;
  right: 0px;
  font-size: 0.7rem;
  background-color: #0077b6;
  padding: 2px 6px;
  border-radius: 2px;
  color: white;
  font-weight: 600;
}
